<button (click)="OpenAdd()" class="mt-2" color="Accent" mat-raised-button>agragar <mat-icon>add</mat-icon></button><br>
<button  (click)="buscarid()" class="mt-2"  mat-raised-button color="basic"><mat-icon>content_paste_search</mat-icon></button>
<mat-form-field>
  <mat-label>buscar</mat-label>
  <input matInput name="buscar" [(ngModel)]="buscar" >
</mat-form-field>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">titulo</th>
      <th scope="col">descripcion</th>
      <th scope="col">autor</th>
      <th scope="col">editora</th>
      <th scope="col">actions</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaLibros">
      <th scope="row">{{item.id}}</th>
      <td>{{item.titulo}}</td>
      <td>{{item.descripcion}}</td>
      <td>{{item.autor}}</td>
      <td>{{item.editora}}</td>
      <td>
          
        <button color="warn" (click)="delete(item.id)" mat-raised-button  class="ml-2"><mat-icon>remove_circle</mat-icon></button>
        <button color="primary" (click)="openEdit(item)" mat-raised-button><mat-icon>edit</mat-icon></button>
      </td>
    </tr>

  </tbody>
</table>